In [1]:
import pandas as pd
import numpy as np

In [2]:
text={"text":['THIS NLP TUTORAIL IS GOOO.','I like eating beans what about you>?','fOTTBALL is my favorite game']}

In [3]:
df=pd.DataFrame(text)

In [4]:
df

                                   text
0            THIS NLP TUTORAIL IS GOOO.
1  I like eating beans what about you>?
2          fOTTBALL is my favorite game

In [5]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [6]:
from textblob import TextBlob

In [7]:
df["text1"]=df["text"].apply(lambda x: x.lower())

In [8]:
df

                                   text                                 text1
0            THIS NLP TUTORAIL IS GOOO.            this nlp tutorail is gooo.
1  I like eating beans what about you>?  i like eating beans what about you>?
2          fOTTBALL is my favorite game          fottball is my favorite game

In [9]:
import string

In [16]:
df["text2"]=df["text"].apply(lambda x: " ".join(pun for pun in x.split() if pun not in string.punctuation))

In [17]:
df

,text,text1,text2
0,THIS NLP TUTORAIL IS GOOO.,this nlp tutorail is gooo.,THIS NLP TUTORAIL IS GOOO.
1,I like eating beans what about you>?,i like eating beans what about you>?,I like eating beans what about you>?
2,fOTTBALL is my favorite game,fottball is my favorite game,fOTTBALL is my favorite game

In [20]:
import re
df["text3"]=df["text1"].apply(lambda x: re.sub(r"[^a-zA-Z]"," ",x))

In [21]:
df

,text,text1,text2,text3
0,THIS NLP TUTORAIL IS GOOO.,this nlp tutorail is gooo.,THIS NLP TUTORAIL IS GOOO.,this nlp tutorail is gooo
1,I like eating beans what about you>?,i like eating beans what about you>?,I like eating beans what about you>?,i like eating beans what about you
2,fOTTBALL is my favorite game,fottball is my favorite game,fOTTBALL is my favorite game,fottball is my favorite game

In [23]:
stop_words=set(stopwords.words("english"))

In [25]:
df["text4"]=df["text3"].apply(lambda x: " ".join(word for word in x.split() if word not in stop_words ))

In [26]:
df

,text,text1,text2,text3,text4
0,THIS NLP TUTORAIL IS GOOO.,this nlp tutorail is gooo.,THIS NLP TUTORAIL IS GOOO.,this nlp tutorail is gooo,nlptutorailgooo
1,I like eating beans what about you>?,i like eating beans what about you>?,I like eating beans what about you>?,i like eating beans what about you,likeeatingbeans
2,fOTTBALL is my favorite game,fottball is my favorite game,fOTTBALL is my favorite game,fottball is my favorite game,fottballfavoritegame